{
  "resourceType" : "CapabilityStatement",
  "id" : "smart-app-launch-example",
  "text" : {
    "status" : "generated",
    "div" : ""
  },
  "url" : "http://fhir-registry.smarthealthit.org/CapabilityStatement/smart-app-launch-example",
  "version" : "1.0.0",
  "name" : "SMART App Launch Capability Statement Example (Empty)",
  "status" : "draft",
  "experimental" : true,
  "date" : "2018-09-18T14:44:43-07:00",
  "publisher" : "Boston's Children Hospital and Hl7 International",
  "contact" : [
    {
      "telecom" : [
        {
          "system" : "url",
          "value" : "http://hl7.org/fhir"
        }
      ]
    }
  ],
  "description" : "",
  "kind" : "capability",
  "software" : {
    "name" : "Insert your softwware name here..."
  },
  "fhirVersion" : "3.0.1",
  "acceptUnknown" : "no",
  "format" : [
    "xml",
    "json"
  ],
  "rest" : [
    {
      "mode" : "server",
      "documentation" : "An empty Capability Statement",
      "security" : {
        "extension" : [
          {
            "extension" : [
              {
                "url" : "token",
                "valueUri" : "<<YOUR_API_ENDPOINT_ONCE_YOU_DEPLOY_THIS>>/token"
              },
              {
                "url" : "authorize",
                "valueUri" : "<<YOUROKTA_API_AM_URL>>/v1/authorize"
              },
             
              {
                "url" : "introspect",
                "valueUri" : "<<YOUROKTA_API_AM_URL>>/v1/introspect"
              },
              {
                "url" : "revoke",
                "valueUri" : "<<YOUROKTA_API_AM_URL>>/v1/revoke"
              }
            ],
            "url" : "http://fhir-registry.smarthealthit.org/StructureDefinition/oauth-uris"
          }
        ],
        "service" : [
          {
            "coding" : [
              {
                "system" : "http://hl7.org/fhir/restful-security-service",
                "code" : "SMART-on-FHIR"
              }
            ],
            "text" : "OAuth2 using SMART-on-FHIR profile (see http://docs.smarthealthit.org)"
          }
        ]
      }
    }
  ]
}